'.text.plain':
    'BUIL:commercial FULL':
        'prefix': 'type=com'
        'body': """
            type=com
            name=${2:string}
            copyright=${3:author}
            chance=${4:number}
            noinfo=${5:1}
            noconstruction=${6:1}
            needs_ground=${7:1}
            intro_month=${8:number}
            intro_year=${9:number}
            retire_month=${10:number}
            retire_year=${11:number}
            clusters=${12:numberarray}
            climates=${13:stringarray}
            animation_time=${14:number}
            dims=1,1,${15:views}
            $0
        """
    'BUIL:curiosity FULL':
        'prefix': 'type=cur'
        'body': """
            type=cur
            name=${2:string}
            copyright=${3:author}
            passengers=${4:number}
            build_time=${5:number}
            chance=${6:number}
            noinfo=${7:1}
            noconstruction=${8:1}
            needs_ground=${9:1}
            intro_month=${10:number}
            intro_year=${11:number}
            retire_month=${12:number}
            retire_year=${13:number}
            clusters=${14:numberarray}
            climates=${15:stringarray}
            animation_time=${16:number}
            dims=1,1,${17:views}
            $0
        """
    'BUIL:depot FULL':
        'prefix': 'type=depot'
        'body': """
            type=depot
            name=${2:string}
            copyright=${3:author}
            waytype=${4:string}
            capacity=${5:number}
            maintenance=${6:number}
            cost=${7:number}
            allow_underground=${8:2}
            noinfo=${9:1}
            noconstruction=${10:1}
            needs_ground=${11:1}
            intro_month=${12:number}
            intro_year=${13:number}
            retire_month=${14:number}
            retire_year=${15:number}
            clusters=${16:numberarray}
            climates=${17:stringarray}
            animation_time=${18:number}
            dims=1,1,${19:views}
            $0
        """
    'BUIL:dock FULL':
        'prefix': 'type=dock'
        'body': """
            type=dock
            name=${2:string}
            copyright=${3:author}
            capacity=${4:number}
            maintenance=${5:number}
            cost=${6:number}
            enables_pax=${7:1}
            enables_post=${8:1}
            enables_ware=${9:1}
            allow_underground=${10:2}
            noinfo=${11:1}
            noconstruction=${12:1}
            needs_ground=${13:1}
            intro_month=${14:number}
            intro_year=${15:number}
            retire_month=${16:number}
            retire_year=${17:number}
            clusters=${18:numberarray}
            climates=${19:stringarray}
            animation_time=${20:number}
            dims=1,1,${21:views}
            $0
        """
    'BUIL:extension FULL':
        'prefix': 'type=extension'
        'body': """
            type=extension
            name=${2:string}
            copyright=${3:author}
            waytype=${4:string}
            capacity=${5:number}
            maintenance=${6:number}
            cost=${7:number}
            enables_pax=${8:1}
            enables_post=${9:1}
            enables_ware=${10:1}
            allow_underground=${11:2}
            noinfo=${12:1}
            noconstruction=${13:1}
            needs_ground=${14:1}
            intro_month=${15:number}
            intro_year=${16:number}
            retire_month=${17:number}
            retire_year=${18:number}
            clusters=${19:numberarray}
            climates=${20:stringarray}
            animation_time=${21:number}
            dims=1,1,${22:views}
            $0
        """
    'BUIL:harbour FULL':
        'prefix': 'type=harbour'
        'body': """
            type=harbour
            name=${2:string}
            copyright=${3:author}
            capacity=${4:number}
            maintenance=${5:number}
            cost=${6:number}
            enables_pax=${7:1}
            enables_post=${8:1}
            enables_ware=${9:1}
            allow_underground=${10:2}
            noinfo=${11:1}
            noconstruction=${12:1}
            needs_ground=${13:1}
            intro_month=${14:number}
            intro_year=${15:number}
            retire_month=${16:number}
            retire_year=${17:number}
            clusters=${18:numberarray}
            climates=${19:stringarray}
            animation_time=${20:number}
            dims=1,1,${21:views}
            $0
        """
    'BUIL:headquarters FULL':
        'prefix': 'type=hq'
        'body': """
            type=hq
            name=${2:string}
            copyright=${3:author}
            passengers=${4:number}
            hq_level=${5:number}
            noinfo=${6:1}
            noconstruction=${7:1}
            needs_ground=${8:1}
            intro_month=${9:number}
            intro_year=${10:number}
            retire_month=${11:number}
            retire_year=${12:number}
            clusters=${13:numberarray}
            climates=${14:stringarray}
            animation_time=${15:number}
            dims=1,1,${16:views}
            $0
        """
    'BUIL:industrial FULL':
        'prefix': 'type=ind'
        'body': """
            type=ind
            name=${2:string}
            copyright=${3:author}
            chance=${4:number}
            noinfo=${5:1}
            noconstruction=${6:1}
            needs_ground=${7:1}
            intro_month=${8:number}
            intro_year=${9:number}
            retire_month=${10:number}
            retire_year=${11:number}
            clusters=${12:numberarray}
            climates=${13:stringarray}
            animation_time=${14:number}
            dims=1,1,${15:views}
            $0
        """
    'BUIL:monument FULL':
        'prefix': 'type=mon'
        'body': """
            type=mon
            name=${2:string}
            copyright=${3:author}
            passengers=${4:number}
            chance=${5:number}
            noinfo=${6:1}
            noconstruction=${7:1}
            needs_ground=${8:1}
            intro_month=${9:number}
            intro_year=${10:number}
            retire_month=${11:number}
            retire_year=${12:number}
            clusters=${13:numberarray}
            climates=${14:stringarray}
            animation_time=${15:number}
            dims=1,1,${16:views}
            $0
        """
    'BUIL:residential FULL':
        'prefix': 'type=res'
        'body': """
            type=res
            name=${2:string}
            copyright=${3:author}
            chance=${4:number}
            noinfo=${5:1}
            noconstruction=${6:1}
            needs_ground=${7:1}
            intro_month=${8:number}
            intro_year=${9:number}
            retire_month=${10:number}
            retire_year=${11:number}
            clusters=${12:numberarray}
            climates=${13:stringarray}
            animation_time=${14:number}
            dims=1,1,${15:views}
            $0
        """
    'BUIL:stop FULL':
        'prefix': 'type=stop'
        'body': """
            type=stop
            name=${2:string}
            copyright=${3:author}
            waytype=${4:string}
            capacity=${5:number}
            maintenance=${6:number}
            cost=${7:number}
            enables_pax=${8:1}
            enables_post=${9:1}
            enables_ware=${10:1}
            allow_underground=${11:2}
            noinfo=${12:1}
            noconstruction=${13:1}
            needs_ground=${14:1}
            intro_month=${15:number}
            intro_year=${16:number}
            retire_month=${17:number}
            retire_year=${18:number}
            clusters=${19:numberarray}
            climates=${20:stringarray}
            animation_time=${21:number}
            dims=1,1,${22:views}
            $0
        """
    'BUIL:townhouse FULL':
        'prefix': 'type=tow'
        'body': """
            type=tow
            name=${2:string}
            copyright=${3:author}
            passengers=${4:number}
            build_time=${5:number}
            chance=${6:number}
            noinfo=${7:1}
            noconstruction=${8:1}
            needs_ground=${9:1}
            intro_month=${10:number}
            intro_year=${11:number}
            retire_month=${12:number}
            retire_year=${13:number}
            clusters=${14:numberarray}
            climates=${15:stringarray}
            animation_time=${16:number}
            dims=1,1,${17:views}
            $0
        """
    'BUIL:dims':
        'prefix': 'dims'
        'body': """
            dims=${1:length},${2:width},${3:views}
        """
